@import "../../../abstracts/variables";

.fj_input {
  color: $text-color;
  font-size: 14px;
  height: 40px;
  border-radius: 0;
  padding: 10px 15px;
  border: 1px solid $input-border-color;
  width: 100%;
  background-color: $white;

  &--error {
    border-color: $red;
  }
}

.fj_label {
  font-size: 12px;
  line-height: 16px;
  color: $faded-color;
  margin-bottom: 10px;
  display: block;
}
