@import "../../../abstracts/variables";

.fj_select {
  color: $text-color;
  font-size: 14px;
  height: 40px;
  border-radius: 0;
  padding: 10px 5px;
  border: 1px solid $input-border-color;
  width: 100%;
  background-color: $white;

  &--error {
    border-color: $red;
  }
}
