@import "media";
@import "content";
@import "sizes";
@import "other-variations";
@import "tabs";
@import "reviews";
@import "info";

.card {
  &__row {
    margin-bottom: 50px;

    @media (min-width: $tablet) {
      display: flex;
      justify-content: space-between;
      margin: 0 -10px 80px;
    }

    @media (min-width: $lg-desktop) {
      margin: 0 -20px 80px;
    }
  }

  &_content {
    padding: 0 20px;

    @media (min-width: $tablet) {
      width: 48%;
      padding: 0 10px;
    }

    @media (min-width: $lg-desktop) {
      padding: 0 20px;
    }
  }

  &__bottom {
    @media (min-width: $desktop) {
      display: flex;
      justify-content: space-between;
      margin-bottom: 90px;
    }
  }

  &__bottom_info {
    margin-bottom: 50px;

    @media (min-width: $desktop) {
      min-width: 66%;
      width: 66%;
      margin-bottom: 0;
    }
  }

  &__join {
    margin-bottom: 80px;

    @media (min-width: $desktop) {
      min-width: 30%;
      width: 30%;
      margin-bottom: 0;
    }

    .join {
      @media (min-width: $tablet) {
        margin: 0;
      }
    }
  }
}
