@import "../../abstracts/variables";

.basket_item {
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: 10px;
  overflow: hidden;
  padding-bottom: 10px;
  position: relative;

  @media (min-width: $tablet) {
    margin-left: -12px;
    margin-right: -12px;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  @media (min-width: $lg-desktop) {
    margin-left: -20px;
    margin-right: -20px;
  }

  &:last-child {
    @media (min-width: $lg-desktop) {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 5px;
    right: 5px;
    border-bottom: 1px solid $divider-color;

    @media (min-width: $tablet) {
      left: 12px;
      right: 12px;
    }

    @media (min-width: $lg-desktop) {
      left: 20px;
      right: 20px;
    }
  }

  &:last-child:after {
    display: none;
  }

  &__img {
    float: left;
    width: 40%;
    padding: 0 5px;
    margin-bottom: 10px;

    @media (min-width: $tablet) {
      width: 33%;
      padding: 0 12px;
      margin-bottom: 0;
    }

    @media (min-width: $lg-desktop) {
      width: 35%;
      padding: 0 20px;
    }
  }

  &__image {
    border: 1px solid $divider-color;
  }

  &__body {
    float: left;
    width: 60%;
    padding: 0 5px;
    margin-bottom: 10px;

    @media (min-width: $tablet) {
      padding: 0 12px;
      width: 66%;
      margin-bottom: 15px;
    }

    @media (min-width: $lg-desktop) {
      width: 65%;
      padding: 0 20px;
    }
  }

  &__name {
    font-size: 12px;
    line-height: 16px;
    color: $text-color;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;

    @media (min-width: $tablet) {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }

  &__price {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    @media (min-width: $tablet) {
      margin-bottom: 20px;
    }
  }

  &__oldprice {
    font-size: 11px;
    line-height: 14px;
    text-decoration: line-through;
    color: $text-color;

    @media (min-width: $tablet) {
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__divider {
    font-size: 16px;
    margin-left: 4px;
    margin-right: 4px;
  }

  &__newprice {
    font-size: 11px;
    line-height: 14px;
    color: red;
    font-weight: 500;

    @media (min-width: $tablet) {
      font-size: 16px;
      line-height: 18px;
    }

    &--one {
      color: $text-color;
    }
  }

  &__sale {
    font-size: 12px;
    font-family: $font-family-sans-serif2;
    color: $white;
    background-color: red;
    padding: 2px 4px;
    margin-left: 7px;

    @media (min-width: $tablet) {
      font-size: 14px;
    }
  }

  &__status {
    display: flex;
    align-items: center;
    margin-top: 20px;

    &_icon {
      stroke: $primary-color;
      display: block;
      width: 16px;
      height: 11px;
      margin-right: 5px;
    }

    &_text {
      font-size: 12px;
      color: $primary-color;

      @media (min-width: $tablet) {
        font-size: 16px;
      }
    }
  }

  &__footer {
    clear: both;
    padding: 0 5px;

    @media (min-width: $tablet) {
      padding: 0 12px;
      clear: none;
      float: left;
      width: 66%;
    }

    @media (min-width: $lg-desktop) {
      width: 65%;
      padding: 0 20px;
    }
  }

  &__sizes {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(6, 1fr);

    @media (min-width: $tablet) {
      grid-template-columns: repeat(9, 1fr);
    }
  }

  &__size {
    color: $text-color;
    font-size: 14px;
    background-color: #F5F5F5;
    padding: 7px 4px;
    text-align: center;
    border: 1px solid transparent;
    cursor: pointer;
    height: 30px;

    &--active {
      border: 1px solid $primary-color;
      background-color: $white;
    }
  }

  &__remove {
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
  }

  &__quan {
    font-size: 12px;
    font-weight: bold;
    margin-right: 10px;

    @media (min-width: $tablet) {
      font-size: 14px;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    
    @media (min-width: $tablet) {
      justify-content: flex-start;
      margin-top: 40px;
    }
  }

  &__select {
    margin-right: 10px;
    border: 1px solid $input-border-color;
    padding: 10px 5px;

    @media (min-width: $tablet) {
      margin-right: 15px;
    }
  }
}
