/* stylelint-disable selector-max-class, selector-max-specificity */
@import "../../abstracts/variables";

.carousel {
  margin-bottom: 70px;

  @media (min-width: $tablet) {
    margin-bottom: 90px;
  }

  .tns-nav {
    text-align: center;
    margin-top: 20px;
  }

  .tns-nav button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid $light-color;
    background-color: $white;
    padding: 0;
    outline: 0;
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }

    &.tns-nav-active {
      background-color: $primary-color;
      border-color: $primary-color;
    }
  }
}
