@import "../../abstracts/variables";

.minicard {
  &__name {
    text-align: center;
    margin-bottom: 10px;

    &_link {
      font-size: 16px;
      line-height: 20px;
      color: $text-color;
      text-decoration: none;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      height: 40px;
    }
  }

  &__body {
    position: relative;
    min-height: 60px;
    margin-bottom: 15px;
  }

  &__img {
    max-width: 100%;
    height: auto;
    display: block;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  &__like,
  &__compare {
    width: 23px;
    height: 23px;
    display: block;
    fill: #999;
    stroke: #999;
    transition: fill $time-animation;

    &:hover,
    .active & {
      fill: $primary-color;
      stroke: $primary-color;
    }
  }

  &__like_btn {
    margin-bottom: 10px;
  }

  &__actions {
    position: absolute;
    right: 5px;
    top: 5px;
  }

  &__divider {
    color: #999;
    font-size: 16px;
  }

  &__oldprice {
    color: #999;
    font-size: 11px;

    @media (min-width: $tablet) {
      font-size: 13px;
    }

    @media (min-width: $desktop) {
      font-size: 18px;
    }

    &--line {
      text-decoration: line-through;
    }
  }

  &__price {
    color: $red;
    font-size: 12px;
    font-weight: bold;

    @media (min-width: $tablet) {
      font-size: 14px;
    }

    @media (min-width: $desktop) {
      font-size: 20px;
    }

    &--only {
      color: $text-color;
    }
  }

  &__sale {
    background-color: $red;
    color: $white;
    font-family: $font-family-sans-serif2;
    font-size: 12px;
    padding: 3px;
    display: inline-block;

    @media (min-width: $tablet) {
      font-size: 14px;
    }

    @media (min-width: $desktop) {
      font-size: 20px;
    }
  }
}
