@import "../../abstracts/variables";

.catalog {
  &__h1 {
    font-family: $font-family-sans-serif2;
    font-weight: 300;
    color: $text-color;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 1px;
    text-align: center;
    margin: 0 0 30px;

    @media (min-width: $tablet) {
      font-size: 40px;
      line-height: 48px;
    }
  }

  &__top {
    display: flex;
    margin-bottom: 20px;

    @media (min-width: $lg-desktop) {
      margin: 0 -20px 15px;
    }

    &_left {
      width: 50%;
      min-width: 50%;

      @media (min-width: $lg-desktop) {
        padding: 0 20px;
        width: 27%;
        min-width: 27%;
      }
    }

    &_right {
      width: 50%;
      min-width: 50%;

      @media (min-width: $lg-desktop) {
        padding: 0 20px;
        width: 73%;
        min-width: 73%;
      }
    }

    &_inner {
      @media (min-width: $lg-desktop) {
        border-bottom: 1px solid $input-border-color;
        padding-bottom: 35px;
        height: 60px;
      }
    }

    &_title {
      font-size: 20px;
      color: $text-color;
      letter-spacing: 1px;
    }

    &_btn {
      text-decoration: underline;
      font-weight: bold;
      font-size: 16px;
      color: $text-color;

      &--show {
        display: none;
      }
    }

    &_content {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__empty_row,
  &__row {
    margin-bottom: 70px;

    @media (min-width: $tablet) {
      margin-bottom: 80px;
    }
  }

  &__row {
    @media (min-width: $lg-desktop) {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      margin: 0 -20px 70px;
    }
  }

  &__filter {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    z-index: $filter-zorder;

    @media (min-width: $lg-desktop) {
      display: block;
      padding: 0 20px;
      width: 27%;
      min-width: 27%;
      position: static;
      z-index: 1;
    }
  }

  &__right {
    @media (min-width: $lg-desktop) {
      padding: 0 20px;
      width: 73%;
      min-width: 73%;
    }
  }

  &__filter_btn {
    font-size: 16px;
    color: $text-color;
    border: 1px solid $input-border-color;
    padding: 10px;
    width: 100%;
    outline: 0;
    height: 40px;
    font-family: $font-family-sans-serif;
    background-color: $white;

    @media (min-width: $lg-desktop) {
      border: 0;
      display: inline-block;
      width: auto;
      height: auto;
      padding: 0;
    }
  }

  &__filter_icon {
    width: 18px;
    height: 9px;
    transform: rotate(-90deg);
    fill: $text-color;
  }

  &__comments {
    margin-bottom: 60px;

    @media (min-width: $lg-desktop) {
      padding: 0 20px;
      width: 65%;
      min-width: 65%;
      margin-bottom: 0;
    }
  }

  &__join {
    @media (min-width: $lg-desktop) {
      padding: 0 20px;
      width: 35%;
      min-width: 35%;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }

  &__item {
    width: 50%;
    min-width: 50%;
    padding: 0 10px;
    margin-bottom: 20px;

    @media (min-width: $tablet) {
      width: 25%;
      min-width: 25%;
    }

    @media (min-width: $lg-desktop) {
      width: 33.33333%;
      min-width: 33.33333%;
      margin-bottom: 50px;
    }
  }

  &__empty {
    font-family: $font-family-sans-serif2;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: $text-color;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 35px;
    text-align: center;

    @media (min-width: $tablet) {
      font-size: 24px;
      line-height: 30px;
    }
  }
}

.catalog--filter-hide {
  .catalog__filter {
    display: block;
  }

  @media (min-width: $lg-desktop) {
    .catalog__filter,
    .catalog__top_btn--hide {
      display: none;
    }

    .catalog__top_btn--show {
      display: block;
    }

    .catalog__right {
      width: 100%;
      min-width: 100%;
    }

    .catalog__item {
      width: 25%;
      min-width: 25%;
    }
  }
}
