/* stylelint-disable selector-max-class */
@import "../../abstracts/variables";

.pagination {
  margin-top: 35px;
  margin-bottom: 35px;
  text-align: center;

  @media (min-width: $lg-desktop) {
    margin-top: 10px;
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 35px;
  }

  &__item:first-child {
    margin-right: 25px;
  }

  &__item:last-child {
    margin-left: 25px;
  }

  &__link {
    color: $faded-color;
    font-size: 16px;
    padding: 8px;
    display: block;
    text-decoration: none;

    &--current {
      color: $text-color;
      font-weight: bold;
      pointer-events: none;
    }

    &--disabled {
      pointer-events: none;
    }
  }

  &__arrow {
    width: 15px;
    height: 15px;
    fill: $text-color;
    display: block;
    transform: rotate(-90deg);

    &--left {
      transform: rotate(90deg);
    }
  }

  &__link--disabled &__arrow {
    fill: $light-color;
  }

  &__more {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12px;
    padding-bottom: 12px;

    &.active {
      pointer-events: none;
    }
  }

  &__more_text {
    display: block;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  &__more.active &__more_text {
    display: none;
  }

  &__loader {
    fill: $white;
    width: 24px;
    height: 24px;
    animation: rotate 1s linear infinite;
    display: none;

    @media (min-width: $lg-desktop) {
      fill: $text-color;
    }
  }

  &__more.active &__loader {
    display: block;
  }
}
