@import "../../abstracts/variables";

.quick_view {
  max-width: 660px;
  width: 100%;
  padding: 45px 0 0;
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  margin: 5vh auto;

  @media (min-width: $tablet) {
    padding: 40px 40px 0;
    display: inline-block;
    max-height: none;
    margin: 0;
  }

  &__modal {
    @media (max-width: $tablet - 1) {
      overflow: hidden;
    }
  }

  &__row {
    overflow: auto;
    height: 100%;
    padding: 0 35px;

    @media (min-width: $tablet) {
      margin: 0 -20px;
      display: flex;
      height: auto;
      padding: 0;
    }
  }

  &__col1 {
    margin-bottom: 10px !important;

    @media (min-width: $tablet) {
      padding: 0 20px;
      width: 45%;
      min-width: 45%;
      margin-bottom: 0 !important;
    }
  }

  &__col2 {
    @media (min-width: $tablet) {
      padding: 0 20px;
      width: 55%;
      min-width: 55%;
    }
  }

  &__name {
    font-size: 14px;
    line-height: 20px;
    color: $text-color;
    margin-bottom: 20px;
    text-align: center;

    @media (min-width: $tablet) {
      font-size: 16px;
      line-height: 24px;
      text-align: left;
    }
  }

  &__features {
    display: flex;
    align-items: center;
  }

  &__status {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: $tablet) {
      justify-content: flex-start;
    }
  }

  &__instock {
    color: $primary-color;
    font-size: 16px;
  }

  &__specorder {
    color: #FF9205;
    font-size: 16px;
  }

  &__disc {
    color: $faded-color;
    font-size: 16px;
  }

  &__instock_icon {
    stroke: $primary-color;
    width: 16px;
    height: 13px;
    display: block;
    margin-right: 4px;
  }

  &__info {
    font-size: 12px;
    color: $text-color;
    text-transform: uppercase;
  }

  &__info_icon {
    fill: $text-color;
    width: 27px;
    height: 17px;
    display: block;
    margin-right: 4px;
  }

  &__info_primary {
    color: $primary-color;
  }

  &__table {
    width: 100%;
    color: $text-color;
    font-size: 14px;
  }

  &__main {
    font-size: 16px;
  }

  &__td {
    padding: 4px 0;
  }

  &__td--right {
    text-align: right;
  }

  &__buttons {
    border-top: 1px solid $divider-color;
    display: flex;
    margin: 15px 0 0;
    position: relative;

    @media (min-width: $tablet) {
      margin: 15px -40px 0;
    }

    &:after {
      content: "";
      border-right: 1px solid $divider-color;
      height: 30px;
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: -15px;
    }
  }

  &__btn {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: $text-color;
    letter-spacing: 1px;
    width: 50%;
    min-width: 50%;
    height: 50px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0;

    @media (min-width: $tablet) {
      height: 60px;
    }

    &--disabled {
      pointer-events: none;
      color: $light-color;
    }
  }

  &__btn_text {
    border-bottom: 2px solid $primary-color;

    @media (min-width: $tablet) {
      border-bottom: 2px solid transparent;
      transition: border-bottom-color $time-animation;
    }
  }

  &__btn:hover &__btn_text {
    border-bottom-color: $primary-color;
  }

  &__btn--disabled:hover &__btn_text {
    border-bottom-color: transparent;
  }

  .minicard__oldprice,
  .minicard__price {
    @media (max-width: $tablet - 1) {
      font-size: 14px;
    }
  }

  &__price {
    text-align: center;

    @media (min-width: $tablet) {
      text-align: left;
    }
  }

  &__thumbs {
    position: relative;
    text-align: center;
    margin-top: 10px;

    @media (min-width: $tablet) {
      margin-top: 0;
      text-align: left;
    }
  }

  &__thumb_carousel {
    @media (min-width: $tablet) {
      padding-left: 30px;
      padding-right: 30px;
      margin-top: 20px;
    }
  }

  &__thumb_row {
    @media (min-width: $tablet) {
      display: flex;
      margin-top: 5px;
      margin-left: -5px;
      margin-right: -5px;
    }
  }

  &__thumb {
    width: 10px;
    height: 10px;
    border: 2px solid $light-color;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;

    @media (min-width: $tablet) {
      width: auto;
      height: auto;
      border: 0;
      margin-right: 0;
      border-radius: 0;
      display: block;
    }

    &:last-child {
      margin-right: 0;
    }

    &.tns-nav-active {
      border-color: $primary-color;
      background-color: $primary-color;

      @media (min-width: $tablet) {
        border-color: transparent;
        background-color: transparent;
      }
    }
  }

  &__thumb_row &__thumb {
    @media (min-width: $tablet) {
      width: 25%;
      min-width: 25%;
      padding: 0 5px;
    }
  }

  img {
    display: none;

    @media (min-width: $tablet) {
      display: block;
    }
  }

  .tns-nav-active img {
    border: 1px solid $primary-color;
  }

  &__nav {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -15px;
    outline: 0;
    transform: rotate(-180deg);
    stroke: $text-color;
    cursor: pointer;

    &--right {
      right: 0;
      left: auto;
      transform: rotate(0);
    }

    &[aria-disabled="true"] {
      stroke: $light-color;
      cursor: auto;
    }
  }

  &__nav_icon {
    width: 15px;
    height: 30px;
    display: block;
  }

  &__carousel {
    position: relative;
  }

  &__ctrl {
    display: none;

    @media (min-width: $tablet) {
      display: block;
    }
  }
}
