@import "../abstracts/variables";

.mb-10 {
  margin-bottom: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.hide {
  display: none !important;
}

.hidden-lg {
  display: block !important;

  @media (min-width: $lg-desktop) {
    display: none !important;
  }
}

.visible-lg {
  display: none !important;

  @media (min-width: $lg-desktop) {
    display: block !important;
  }
}

.rel {
  position: relative !important;
}
